
    <div class="card-body">
      <div class="clearfix">
        <div class="float-left">
          <img src="../../../../assets/students.svg" width="45px" />
        </div>
        <div class="float-right">
          <p class="mb-0 text-right">Students</p>
          <div class="fluid-container">
            <h3 class="font-weight-medium text-right mb-0">{{studentCount}}</h3>
          </div>
        </div>
      </div>
      <!--<p class="text-muted mt-3 mb-0"><i aria-hidden="true" class="mdi mdi-reload mr-1"></i> All Staff Included </p>-->
    </div>
