<div class="bg-inverse-warning p-5 bg-graphics">
    <div class="col-lg-3">
        <img src="../../../../assets/logo-white.svg" class="img-fluid mb-3" />
    </div>
    <div class="col-lg-4 offset-lg-6">
        <div class="card">
            <div class="border border-light card-body shadow rounded">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)">

                <p class="h4 mb-4 text-center">Forget Password</p>
                <input type="text" name="email" ngModel required #email="ngModel" class="form-control mb-4" placeholder="Email">

                <button class="btn btn-warning btn-block my-4" [disabled]="f.invalid" type="submit">Send Password Reset Link</button>

                <div class="d-flex justify-content-between">
                    <p>Back to <a [routerLink]="['/login']">Login</a></p>
                    <p>Not a member?
                        <a [routerLink]="['/registration']">Register</a>
                    </p>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

