<div class="row mb-4">
    <div class="col-lg-12 d-flex">
        <div class="card card-body col-md-3 mb-4 mr-4 mt-0">
            <mat-form-field class="" >
                <mat-label>Select Grade</mat-label>
                <input type="text" matInput [formControl]="gradeAutoComplete" [matAutocomplete]="auto" autocomplete="off">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedgrade($event)" [displayWith]="displayFn">
                <mat-option *ngFor="let option of gradeList" [value]="option">
                    {{option.title}}
                </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div *ngIf="selectedGradeId" class="col-md-5">
            <h3>Timings</h3>
            <div class="form-inline">
            <label class="mr-2">From: </label>
                <input class="form-control" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
                    [(ngModel)]="selectedMoments"
                    [selectMode]="'rangeFrom'">
                <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
            

            <label class="mx-2">To:</label>
                <input class="form-control" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3"
                    [(ngModel)]="selectedMoments"
                    [selectMode]="'rangeTo'">
                <owl-date-time [pickerType]="'timer'" #dt3></owl-date-time>

            <button *ngIf="!update" class="btn btn-primary mt-2" (click) ='addClassTimings("add")'> Add Timings</button>
            <button *ngIf="update" class="btn btn-info mt-2" (click) ='addClassTimings("update")'> Update Timings</button>
            <button *ngIf="update" class="btn btn-default ml-3 mt-2" (click) ='update = !update; selectedMoments =[]'> Cancel</button>
            </div>
        </div>
    </div>

    <div *ngIf="selectedGradeId" class="col-lg-12 d-flex">
        <table #assignList mat-table [dataSource]="dataSource" class="table-bordered table-compact table-striped w-100 ">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
                <th mat-header-cell *matHeaderCellDef> 
                    {{column | titlecase}} 
                    <span *ngIf="column !== 'day'" (click)="updateTimings(column)">Update</span>
                </th>
                <td mat-cell *matCellDef="let element"> 
                {{element[column]}} 
                <div *ngFor="let data of routineData | filter : 'Day': element['day']">
                <select class="border-0 p-1 px-2 bg-transparent" *ngIf="column !== 'day' && column == data.Timings" (change)="onSubjectChange(column,element['day'], $event)">
                <option>Select Subject</option>
                <option *ngFor="let subject of subjectList" [selected]="data.SubjectId == subject.ID" [value]="subject.ID">{{subject.Name}}</option>
                </select>
                </div> 
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
