
<div [ngClass] = "{'bg-inverse-warning p-5 bg-graphics' : !isChangeMode}">
    <div *ngIf="!isChangeMode" class="col-lg-3">
        <img src="../../../../assets/logo-white.svg" class="mb-3"/>
    </div>
    <div [ngClass] = "{'col-lg-5 offset-lg-6' : !isChangeMode, 'col-lg-12' : isChangeMode}">

<!--<div class="container">
    <div class="col-lg-8 {{isChangeMode?'offset-2':''}}"> -->
        <div class="card">
            <div class="card-body">

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <p class="h4 mb-4 text-center" *ngIf="!isChangeMode">Reset Password</p>
            <h4 class="card-title" *ngIf="isChangeMode">Change Password</h4>

            <div class="form-group row" *ngIf="isChangeMode">
                <label for="password" class="col-3 col-form-label">Password</label> 
                <div class="col-9">
                    <input type="password" placeholder="Password" formControlName="password" readonly="true" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="text-danger text-small">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="newpassword" class="col-3 col-form-label">New Password</label> 
                <div class="col-9">
                    <input type="password" placeholder="New Password" formControlName="newpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.newpassword.errors" class="text-danger text-small">
                        <div *ngIf="f.newpassword.errors.required">New Password is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="confirmpassword" class="col-3 col-form-label">Confirm Password</label> 
                <div class="col-9">
                    <input type="password" placeholder="Confirm Password" formControlName="confirmpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.confirmpassword.errors" class="text-danger text-small">
                        <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                    </div>
                </div>
            </div>
            <div *ngIf="submitted && notEqual" class="alert alert-danger">
                    New Password and Confirm Password fields must be equal
            </div>
            
            <div class="form-group row" *ngIf="isChangeMode">
                <div class="offset-4 col-8">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Change Password
                </button>
                </div>
            </div>
            <div class="form-group row" *ngIf="!isChangeMode">
                <div class="offset-4 col-8">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Reset Password
                </button>
                </div>
            </div>
            </form>
            </div>
        </div>
    </div>
</div>
