
.mat-calendar-cell-semi-selected {
    background-color: #d7dcf9; }

.mat-calendar-body-begin-range:not(.mat-calendar-body-end-range) {
    border-radius: 100% 0 0 100%;
    background-color: #d7dcf9; }

.mat-calendar-body-end-range:not(.mat-calendar-body-begin-range) {
    border-radius: 0 100% 100% 0;
    background-color: #d7dcf9; }